.header {
  @include media(md) {
    background-color: $color-white;
  }

  svg {
    circle, line, path, polyline {

      @include media(md) {
        stroke: $color-black;
      }
    }
  }

  img {
    &.desc-display {
      display: block;
      @include media(md) {
        display: none;
      }
    }

    &.mobile-display {
      display: none;
      @include media(md) {
        display: block;
      }
    }

  }

  z-index: 5;

  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }

  .toggle-nav {
    display: none;
  }

  @include media(md) {
    .toggle-nav {
      display: inline-block !important;
      float: right;
      margin: 25px;
      font-size: 2em;
      transition: color linear 0.15s;
    }

    a.toggle-nav:link,
    a.toggle-nav:visited,
    a.toggle-nav:hover,
    a.toggle-nav:active {
      text-decoration: none;
      color: #fff;
    }
    .toggle-nav {
      display: inline-block;
    }
  }

  &__row {
    justify-content: space-between;

    &-right {
      @include media(md) {
        align-items: center;
        display: flex;
      }
    }
  }


  &__menu-list {
    @include media(md) {
      position: absolute;
      width: 100%;
      display: none;
      left: 0;
      top: 100%;
      background-color: $color-white;


    }



  }

  nav {
    @include media(md) {
      position: unset;
    }
  }
}

.t-white {
  position: absolute;

  .header__row {
    &-left {
      .menu-item {
        .nav-link {
          color: $color-white;
          @include media(md) {
            width: 90%;
            margin: 0 auto;
            color: $color-black;
          }
          &:hover {

            border-bottom: 3px $background-red solid;
            color: $color-black;
          }
        }

        &:hover {
          background-color: $color-white;

          .nav-link {
            color: $color-black;
          }
        }
      }
    }

    &-right {
      .counter {
        padding: 3px;
        border-radius: 4px;
        color: $color-white;
        background-color: $background-red;
      }

      .header-icon {
        polygon {
          stroke: none;
        }

        stroke: $color-white;
      }
    }
  }
}

.t-black {

  .header__row {
    &-left {
      .menu-item {
        .nav-link {
          color: $color-black;

          &:hover {

            border-bottom: 3px $background-red solid;
            color: $color-white;
          }
        }

        &:hover {
          background-color: $color-black;

          .nav-link {
            color: $color-white;
          }
        }
      }
    }

    &-right {
      .counter {
        padding: 3px;
        border-radius: 4px;
        color: $color-white;
        background-color: $background-red;
      }

      .header-icon {
        polygon {
          stroke: none;
        }

        stroke: $color-black;
      }
    }
  }
}


