.section{
  &__related{
    &-row{
      overflow: hidden;

      .woocommerce-loop-product__title{
        color: $color-black;

      }
      small{
        color: rgba($color-black,.6);
      }
      .price{
        color: rgba($color-black,.8);

      }
    }
  }
}