.section {
  &__newsletter {
    &-row {
      &-card {
        &-body {
          .form-group {

            input {
              &[type="email"] {
                border-right: 0;
              }

              &::placeholder {
                color: #ffffff80;
              }
              color:#ffffff80;
            }

            button {
              border-top: 1px solid $background-grey-e9;
              border-bottom: 1px solid $background-grey-e9;
              border-right: 1px solid $background-grey-e9;
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
              svg{
                transform: scaleX(-1);
                line{
                  stroke: $background-grey-e9;
                }

              }
            }

          }
        }
      }
    }
  }
}