.section {
  &__favorites {
    &-row {

      &-card {


        &-img {
          border-style: solid;
          border-color: $background-grey-f6;
        }

        &-text {

          color: rgba($color-black, .6);
        }
      }
    }
  }
}
